 #div_box_1
 {
   width: 100%;
   border: 1px white;
   border-bottom: 4px solid  rgb(18, 6, 57);
   height: 20%;
   
   margin: 0 auto;
   padding: 1%;
 }
 #div_box_2
 {
  width: 47%;
  left: 57%;
  border: 1px black dashed;
 }
#menu_1 {
  list-style-type: none;
  margin: 1px;
  padding-left: 240px;
  overflow: hidden;
}

#menu_2
{
  list-style-type: none;
  width: 100%;
  margin-top: 5px;
  border: 1px black dashed;
  background-color:rgb(18, 6, 57);

  padding: 0;
  overflow: hidden;
}
.li_work {
  display:block;
  color: red;
}

li
{
float:left;
}

.menu_1_link
{
  display: inline-block;
  text-decoration: underline;
  padding: 14px 9px;
}
a:hover {
    color: rgb(112, 10, 37);
}

.menu_2_link
{
  color: white;
  font-family: 'Crimson Text', serif;
  text-decoration: none;
  display: block;
  font-size: 22px;
  padding: 16px 40px;
}

.menu_2_link:hover 
{
  background-color:  rgb(14,72,171);
   text-decoration: none;
   color:white;
}

#div_box_3
{
   width: 50%;
   border: 1px black dashed;
   height: 50%;
   margin: 0 auto;
   padding: 1%;
}
#div_box_6
{
  background-color: rgb(18, 6, 57);
  width: 100%;
  height: 40%;
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
p
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}
img
{
width: 75%;
height: 75%;
}

.mySlides 
 {
  display:none;
  }