 #div_box_1
 {
   width: 100%;
   border: 1px white;
   border-bottom: 3px rgb(18, 6, 57) solid;
   height: 20%;
   
   margin: 0 auto;
   padding: 1%;
 }
 #div_box_2
 {
  width: 47%;
  left: 57%;
  border: 1px black dashed;
 }
#menu_1 {
  list-style-type: none;
  margin: 1px;
  padding-left: 240px;
  overflow: hidden;
}

#menu_2
{
  list-style-type: none;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px black dashed;
  background-color:rgb(18, 6, 57);

  padding: 0;
  overflow: hidden;
}
.li_work {
  float:center;
  display:block;
  color: red;
}

li
{
float:left;
}

.menu_1_link
{
  display: inline-block;
  text-decoration: underline;
  padding: 14px 9px;
}
a:hover {
    color: rgb(112, 10, 37);
}

.menu_2_link
{
  color: white;
  font-family: 'Crimson Text', serif;
  text-decoration: none;
  display: block;
  font-size: 22px;
  padding: 14px 35px;
}

.menu_2_link:hover 
{
  background-color:  rgb(14,72,171);
   text-decoration: none;
   color:white;
}

#div_box_3
{
   width: 100%;
   height: auto;

   border: 20px black dashed;
   margin: 0 auto;
   padding: 1%;
}
.div_box_4
{
   border: 1px black dashed;
   margin: 0 auto;
   padding: 1%;
}

#div_box_6
{
  background-color: rgb(18, 6, 57);
  width: 100%;
  height: auto;
  color: white;
  font-family: 'Crimson Text', serif;
}
#img_logo
{
  width: 200px;
  height: 100px;
  padding-left:10px;
  padding-top:0px;
}

.mySlides 
 {
  display:none;
  }

  .w3-content
  {
    padding-top:0px; 
  }

  .w3-section_1
  {
    margin-bottom: 15px;
    margin-top: 0px;
  }

p {
 font-family: 'Crimson Text', serif;
 font-size: 18px;
}

#pre_id
{
margin:0;
padding: 0;
border: none;
background: white;
}

h4
{
   font-family: 'Crimson Text', serif;
}

#logo
{
 font-family: 'Anton', sans-serif;
 color: rgb(18, 6, 57);
 font-size: 25px;
 padding-top: 20px;
 margin-left:0;
}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.container-1
{
 margin-left: 325px;
}
/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

